langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-mongodb==0.1.6
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
numpy==1.26.4
openai==1.33.0
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.35.0
streamlit-extras==0.4.3
tiktoken==0.7.0
pypdf
